<form class="center">
    <div class="form-group">
        <label>Superhero Name</label>
        <input type="text" ng-model="superhero.superheroName" class="form-control input" placeholder="Enter superhero name" autofocus />
    </div>
    <div class="form-group">
        <label>Real Name</label>
        <input type="text" ng-model="superhero.realName" class="form-control input" placeholder="Enter real name" autofocus />
    </div>
    <div class="form-group">
        <label>Costume Image URL</label>
        <input type="text" ng-model="superhero.costumeImage" class="form-control input" placeholder="Enter costume URL" autofocus />
    </div>
    <div class="form-group">
        <label>Origin</label>
        <div ng-dropdown-multiselect="" options="origins" selected-model="origin" extra-settings="originSettings" ng-hide="show"></div>
        <input type="text" ng-model="origin.origin" class="form-control input" placeholder="Enter origin" autofocus ng-show="show"/>
        <button class="btn btn-primary" ng-click="changeBoolean()" ng-hide="show">Add new origin</button>
        <button class="btn btn-primary" ng-click="changeBoolean()" ng-show="show && showOne">Add existing origin</button>
    </div>
    <div class="form-group">
        <label>Powers</label>
        <div ng-dropdown-multiselect="" options="powers" selected-model="powersArray" extra-settings="powerSettings"></div>
    </div>    
    <div class="form-group">
        <label>Height</label>
        <input type="text" ng-model="superhero.height" class="form-control input" placeholder="Enter height ex(5'10&quot;)" autofocus />
    </div>
    <div class="form-group">
        <label>Weight</label>
        <input type="number" max="999" ng-model="superhero.weight" class="form-control input" placeholder="Enter weight" autofocus />
    </div>
    <button class="btn btn-success" ng-click="addSuperhero(superhero, origin, powersArray)">Add Superhero</button>
    <button class="btn btn-danger" ng-click="closeModal()">Cancel</button>
</form>