<input type="text" ng-model="team.teamName" class="form-control input" placeholder="Enter team name" autofocus />

<input type="text" ng-model="team.headquarters" class="form-control input" placeholder="Enter headquarters" autofocus />

<input type="text" ng-model="team.publicSupport.publicSupport" class="form-control input" placeholder="Enter public support" autofocus />

<input type="text" ng-model="team.teamLead.superheroName" class="form-control input" placeholder="Enter team lead" autofocus />

<input type="text" ng-model="team.superheroName.supeheroName" class="form-control input" placeholder="Enter superhero" autofocus />

<button ng-click="addTeam(team)">Add Superhero Team</button>

<!--teamName, headquarters, publicSupport, teamLead, superheroName-->