<form class="center">
    <div class="form-group">
        <label>Superhero Team Name</label>
        <input type="text" ng-model="team.teamName" class="form-control input" placeholder="Enter team name" autofocus />
    </div>
    <div class="form-group">
        <label>Headquarters</label>
        <input type="text" ng-model="team.headquarters" class="form-control input" placeholder="Enter headquarters" autofocus />
    </div>
    <div class="form-group">
        <label>Public Support</label>
        <div ng-dropdown-multiselect="" options="publicSupports" selected-model="publicSupport" extra-settings="publicSupportSettings" ng-hide="show"></div>
        <input type="text" ng-model="publicSupport.publicSupport" class="form-control input" placeholder="Enter public support" autofocus ng-show="show"/>
        <button class="btn btn-primary" ng-click="changeBoolean()" ng-hide="show">Add new public support</button>
        <button class="btn btn-primary" ng-click="changeBoolean()" ng-show="show && showOne">Add existing public support</button>
    </div>
    <div class="form-group">
        <label>Team Lead</label>
        <div ng-dropdown-multiselect="" options="teamLeadArray" selected-model="teamLead" extra-settings="teamLeadSettings"></div>
    </div>
    <div class="form-group">
        <label>Superheroes</label>
        <div ng-dropdown-multiselect="" options="teamlessSuperheroes" selected-model="superheroes" extra-settings="superheroSettings"></div>
    </div>    
    <button class="btn btn-success" ng-click="editTeam(team, publicSupport, teamLead, superheroes)">Edit Superhero Team</button>
    <button class="btn btn-danger" ng-click="closeModal()">Cancel</button>
</form>