#################
# Files
#################
*.class
*.classpath
*.project
*.settings
*.springBeans
*.iml
#################
# Directories
#################
*.class
node_modules/
jspm_packages/
.settings/
target/
bin/
.idea/

